@font-face {
  font-family: 'app-icon';
  src: url('../fonts/font/app-icon.eot?63128740');
  src: url('../fonts/font/app-icon.eot?63128740#iefix') format('embedded-opentype'),
       url('../fonts/font/app-icon.woff2?63128740') format('woff2'),
       url('../fonts/font/app-icon.woff?63128740') format('woff'),
       url('../fonts/font/app-icon.ttf?63128740') format('truetype'),
       url('../fonts/font/app-icon.svg?63128740#app-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'app-icon';
    src: url('../font/app-icon.svg?63128740#app-icon') format('svg');
  }
}
*/
 
 [class^="icon-app-"]:before, [class*=" icon-app-"]:before {
  font-family: "app-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-app-uniF13B-1:before { content: '\e800'; } /* '๎ €' */
.icon-app-uniF11A-1:before { content: '\e801'; } /* '๎ ' */
.icon-app-uniF121-1:before { content: '\e802'; } /* '๎ ' */
.icon-app-uniF112-1:before { content: '\e803'; } /* '๎ ' */
.icon-app-uniF13D-1:before { content: '\e804'; } /* '๎ ' */
.icon-app-uniF13A-1:before { content: '\e805'; } /* '๎ …' */
.icon-app-uniF10B-1:before { content: '\e806'; } /* '๎ ' */
.icon-app-uniF11B-1:before { content: '\e807'; } /* '๎ ' */
.icon-app-uniF131-1:before { content: '\e808'; } /* '๎ ' */
.icon-app-uniF102-1:before { content: '\e809'; } /* '๎ ' */
.icon-app-uniF10D-1:before { content: '\e80a'; } /* '๎ ' */
.icon-app-uniF116-1:before { content: '\e80b'; } /* '๎ ' */
.icon-app-uniF109-1:before { content: '\e80c'; } /* '๎ ' */
.icon-app-uniF13C-1:before { content: '\e80d'; } /* '๎ ' */
.icon-app-uniF122-1:before { content: '\e80e'; } /* '๎ ' */
.icon-app-uniF12B-1:before { content: '\e80f'; } /* '๎ ' */
.icon-app-uniF114-1:before { content: '\e810'; } /* '๎ ' */
.icon-app-uniF118-1:before { content: '\e811'; } /* '๎ ‘' */
.icon-app-uniF10E-1:before { content: '\e812'; } /* '๎ ’' */
.icon-app-uniF101-1:before { content: '\e813'; } /* '๎ “' */
.icon-app-uniF113-1:before { content: '\e814'; } /* '๎ ”' */
.icon-app-uniF10A-1:before { content: '\e815'; } /* '๎ •' */
.icon-app-uniF139-1:before { content: '\e816'; } /* '๎ –' */
.icon-app-uniF12A-1:before { content: '\e817'; } /* '๎ —' */
.icon-app-uniF128-1:before { content: '\e818'; } /* '๎ ' */
.icon-app-uniF129-1:before { content: '\e819'; } /* '๎ ' */
.icon-app-uniF126-1:before { content: '\e81a'; } /* '๎ ' */
.icon-app-uniF127-1:before { content: '\e81b'; } /* '๎ ' */
.icon-app-uniF125-1:before { content: '\e81c'; } /* '๎ ' */
.icon-app-uniF117-1:before { content: '\e81d'; } /* '๎ ' */
.icon-app-uniF133-1:before { content: '\e81e'; } /* '๎ ' */
.icon-app-uniF10F-1:before { content: '\e81f'; } /* '๎ ' */
.icon-app-uniF115-1:before { content: '\e820'; } /* '๎  ' */
.icon-app-uniF107-1:before { content: '\e821'; } /* '๎ ก' */
.icon-app-uniF12C-1:before { content: '\e822'; } /* '๎ ข' */
.icon-app-uniF110-1:before { content: '\e823'; } /* '๎ ฃ' */
.icon-app-uniF124-1:before { content: '\e824'; } /* '๎ ค' */
.icon-app-uniF104-1:before { content: '\e825'; } /* '๎ ฅ' */
.icon-app-uniF120-1:before { content: '\e826'; } /* '๎ ฆ' */
.icon-app-uniF12E-1:before { content: '\e827'; } /* '๎ ง' */
.icon-app-uniF108-1:before { content: '\e828'; } /* '๎ จ' */
.icon-app-uniF11F-1:before { content: '\e829'; } /* '๎ ฉ' */
.icon-app-uniF12F-1:before { content: '\e82a'; } /* '๎ ช' */
.icon-app-uniF135-1:before { content: '\e82b'; } /* '๎ ซ' */
.icon-app-uniF134-1:before { content: '\e82c'; } /* '๎ ฌ' */
.icon-app-uniF130-1:before { content: '\e82d'; } /* '๎ ญ' */
.icon-app-uniF106-1:before { content: '\e82e'; } /* '๎ ฎ' */
.icon-app-uniF119-1:before { content: '\e82f'; } /* '๎ ฏ' */
.icon-app-uniF105-1:before { content: '\e830'; } /* '๎ ฐ' */
.icon-app-uniF123-1:before { content: '\e831'; } /* '๎ ฑ' */
.icon-app-uniF103-1:before { content: '\e832'; } /* '๎ ฒ' */
.icon-app-uniF11D-1:before { content: '\e833'; } /* '๎ ณ' */
.icon-app-uniF137-1:before { content: '\e834'; } /* '๎ ด' */
.icon-app-uniF136-1:before { content: '\e835'; } /* '๎ ต' */
.icon-app-uniF11C-1:before { content: '\e836'; } /* '๎ ถ' */
.icon-app-uniF100-1:before { content: '\e837'; } /* '๎ ท' */
.icon-app-uniF11E-1:before { content: '\e838'; } /* '๎ ธ' */
.icon-app-uniF138-1:before { content: '\e839'; } /* '๎ น' */
.icon-app-uniF12D-1:before { content: '\e83a'; } /* '๎ บ' */
.icon-app-uniF132-1:before { content: '\e83b'; } /* '๎ ป' */
.icon-app-uniF111-1:before { content: '\e83c'; } /* '๎ ผ' */
.icon-app-uniF100:before { content: '\f100'; } /* '๏€' */
.icon-app-uniF101:before { content: '\f101'; } /* '๏' */
.icon-app-uniF102:before { content: '\f102'; } /* '๏' */
.icon-app-uniF103:before { content: '\f103'; } /* '๏' */
.icon-app-uniF104:before { content: '\f104'; } /* '๏' */
.icon-app-uniF105:before { content: '\f105'; } /* '๏…' */
.icon-app-uniF106:before { content: '\f106'; } /* '๏' */
.icon-app-uniF107:before { content: '\f107'; } /* '๏' */
.icon-app-uniF108:before { content: '\f108'; } /* '๏' */
.icon-app-uniF109:before { content: '\f109'; } /* '๏' */
.icon-app-uniF10A:before { content: '\f10a'; } /* '๏' */
.icon-app-uniF10B:before { content: '\f10b'; } /* '๏' */
.icon-app-uniF10C:before { content: '\f10c'; } /* '๏' */
.icon-app-uniF10D:before { content: '\f10d'; } /* '๏' */
.icon-app-uniF10E:before { content: '\f10e'; } /* '๏' */
.icon-app-uniF10F:before { content: '\f10f'; } /* '๏' */
.icon-app-uniF110:before { content: '\f110'; } /* '๏' */
.icon-app-uniF111:before { content: '\f111'; } /* '๏‘' */
.icon-app-uniF112:before { content: '\f112'; } /* '๏’' */
.icon-app-uniF113:before { content: '\f113'; } /* '๏“' */
.icon-app-uniF114:before { content: '\f114'; } /* '๏”' */
.icon-app-uniF115:before { content: '\f115'; } /* '๏•' */
.icon-app-uniF116:before { content: '\f116'; } /* '๏–' */
.icon-app-uniF117:before { content: '\f117'; } /* '๏—' */
.icon-app-uniF118:before { content: '\f118'; } /* '๏' */
.icon-app-uniF119:before { content: '\f119'; } /* '๏' */
.icon-app-uniF11A:before { content: '\f11a'; } /* '๏' */
.icon-app-uniF11B:before { content: '\f11b'; } /* '๏' */
.icon-app-uniF11C:before { content: '\f11c'; } /* '๏' */
.icon-app-uniF11D:before { content: '\f11d'; } /* '๏' */
.icon-app-uniF11E:before { content: '\f11e'; } /* '๏' */
.icon-app-uniF11F:before { content: '\f11f'; } /* '๏' */
.icon-app-uniF120:before { content: '\f120'; } /* '๏ ' */
.icon-app-uniF121:before { content: '\f121'; } /* '๏ก' */
.icon-app-uniF122:before { content: '\f122'; } /* '๏ข' */
.icon-app-uniF123:before { content: '\f123'; } /* '๏ฃ' */
.icon-app-uniF124:before { content: '\f124'; } /* '๏ค' */
.icon-app-uniF125:before { content: '\f125'; } /* '๏ฅ' */
.icon-app-uniF126:before { content: '\f126'; } /* '๏ฆ' */
.icon-app-uniF127:before { content: '\f127'; } /* '๏ง' */
.icon-app-uniF128:before { content: '\f128'; } /* '๏จ' */
.icon-app-uniF129:before { content: '\f129'; } /* '๏ฉ' */
.icon-app-uniF12A:before { content: '\f12a'; } /* '๏ช' */
.icon-app-uniF12B:before { content: '\f12b'; } /* '๏ซ' */
.icon-app-uniF12C:before { content: '\f12c'; } /* '๏ฌ' */
.icon-app-uniF12D:before { content: '\f12d'; } /* '๏ญ' */
.icon-app-uniF12E:before { content: '\f12e'; } /* '๏ฎ' */
.icon-app-uniF12F:before { content: '\f12f'; } /* '๏ฏ' */
.icon-app-uniF130:before { content: '\f130'; } /* '๏ฐ' */
.icon-app-uniF131:before { content: '\f131'; } /* '๏ฑ' */
.icon-app-uniF132:before { content: '\f132'; } /* '๏ฒ' */
.icon-app-uniF133:before { content: '\f133'; } /* '๏ณ' */
.icon-app-uniF134:before { content: '\f134'; } /* '๏ด' */
.icon-app-uniF135:before { content: '\f135'; } /* '๏ต' */
.icon-app-uniF136:before { content: '\f136'; } /* '๏ถ' */
.icon-app-uniF137:before { content: '\f137'; } /* '๏ท' */
.icon-app-uniF138:before { content: '\f138'; } /* '๏ธ' */
.icon-app-uniF139:before { content: '\f139'; } /* '๏น' */
.icon-app-uniF13A:before { content: '\f13a'; } /* '๏บ' */
.icon-app-uniF13B:before { content: '\f13b'; } /* '๏ป' */
.icon-app-uniF13C:before { content: '\f13c'; } /* '๏ผ' */
.icon-app-uniF13D:before { content: '\f13d'; } /* '๏ฝ' */
.icon-app-uniF13E:before { content: '\f13e'; } /* '๏พ' */
.icon-app-uniF13F:before { content: '\f13f'; } /* '๏ฟ' */
.icon-app-uniF140:before { content: '\f140'; } /* '๏…€' */
.icon-app-uniF141:before { content: '\f141'; } /* '๏…' */
.icon-app-uniF142:before { content: '\f142'; } /* '๏…' */
.icon-app-uniF143:before { content: '\f143'; } /* '๏…' */
.icon-app-uniF144:before { content: '\f144'; } /* '๏…' */
.icon-app-uniF145:before { content: '\f145'; } /* '๏……' */
.icon-app-uniF146:before { content: '\f146'; } /* '๏…' */
.icon-app-uniF147:before { content: '\f147'; } /* '๏…' */
.icon-app-uniF148:before { content: '\f148'; } /* '๏…' */
.icon-app-uniF149:before { content: '\f149'; } /* '๏…' */
.icon-app-uniF14A:before { content: '\f14a'; } /* '๏…' */
.icon-app-uniF14B:before { content: '\f14b'; } /* '๏…' */
.icon-app-uniF14C:before { content: '\f14c'; } /* '๏…' */
.icon-app-uniF14D:before { content: '\f14d'; } /* '๏…' */
.icon-app-uniF14E:before { content: '\f14e'; } /* '๏…' */
.icon-app-uniF14F:before { content: '\f14f'; } /* '๏…' */
.icon-app-uniF150:before { content: '\f150'; } /* '๏…' */
.icon-app-uniF151:before { content: '\f151'; } /* '๏…‘' */
.icon-app-uniF152:before { content: '\f152'; } /* '๏…’' */
.icon-app-uniF153:before { content: '\f153'; } /* '๏…“' */
.icon-app-uniF154:before { content: '\f154'; } /* '๏…”' */
.icon-app-uniF156:before { content: '\f156'; } /* '๏…–' */
.icon-app-uniF157:before { content: '\f157'; } /* '๏…—' */
.icon-app-uniF158:before { content: '\f158'; } /* '๏…' */
.icon-app-uniF159:before { content: '\f159'; } /* '๏…' */
.icon-app-uniF15A:before { content: '\f15a'; } /* '๏…' */
.icon-app-uniF15B:before { content: '\f15b'; } /* '๏…' */
.icon-app-uniF15C:before { content: '\f15c'; } /* '๏…' */
.icon-app-uniF15D:before { content: '\f15d'; } /* '๏…' */
.icon-app-uniF15E:before { content: '\f15e'; } /* '๏…' */
.icon-app-uniF15F:before { content: '\f15f'; } /* '๏…' */
.icon-app-uniF160:before { content: '\f160'; } /* '๏… ' */
.icon-app-uniF161:before { content: '\f161'; } /* '๏…ก' */
.icon-app-uniF162:before { content: '\f162'; } /* '๏…ข' */
.icon-app-uniF163:before { content: '\f163'; } /* '๏…ฃ' */